@font-face {
  font-family: "ZenKakuGothicNew";
  src: url("fonts/ZenKakuGothicNew.ttf") format("trueType");
}

:root {
  --color-bg: #fafdff;

  --color-text: #222;
  --color-text-muted: #71808c;

  --color-border: #dfe7ee;
  --color-accent: #4f8fbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 16px;
  font-family: "ZenKakuGothicNew", sans-serif;
  user-select: none;
}

kbd,
input,
textarea {
  font-family: "ZenKakuGothicNew", sans-serif;
}

[x-cloak] {
  display: none !important;
}

/* ############################## main ############################## */

main {
  width: 800px;
  margin: 0 auto 0;
  padding: 20px 50px;
  z-index: 5000;
}

.main-section {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.main-section__title {
  font-size: 1.2rem;
}

.main-section__subtitle {
  font-size: 0.8rem;
  margin: 0 0 6px 0;
}

/* ---- analytics ---- */

.analytics__study-hours {
  display: flex;
  justify-content: space-around;

  margin: 0 0 20px 0;
  padding: 5px 0 6px 0;
  border: solid 1px var(--color-border);
  border-radius: 5px;
}

/* ---- weekly-chart ---- */

.analytics__weekly-chart {
  display: flex;
  gap: 5px;
  flex-direction: column;

  height: 200px;
  padding: 10px;
  border: solid 1px var(--color-border);
  border-radius: 5px;
}

.weekly-chart__bars {
  flex: 1;

  display: flex;
  justify-content: space-around;
}

.weekly-chart__bar {
  width: calc(100% / 7 - 30px);
  background: transparent;
  background: linear-gradient(to top, red 0% 30%, green 30% 60%, transparent 60%);
}

.weekly-chart__labels {
  display: flex;
  justify-content: space-around;
}

.weekly-chart__label {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 0.9rem;
  line-height: 1;
}

/* ############################## overlays ############################## */

.overlays {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: var(--color-bg);
  z-index: 7000;
}

.overlay-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-bottom: solid 1px var(--color-border);
}

.overlay-header__left,
.overlay-header__right {
  display: flex;
  gap: 10px;
}

.overlay-header__close {
  position: relative;
  width: 30px;
  height: 30px;

  padding: 0;
  border: none;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.overlay-header__close::before,
.overlay-header__close::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 18px;
  height: 1.5px;
  background: var(--color-text);
  border-radius: 2px;
}

.overlay-header__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.overlay-header__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.overlay-header__title {
  font-size: 1.2rem;
}

/* ############################## shortcut-bar ############################## */

.shortcut-bar {
  display: flex;
  gap: 20px;
  align-items: center;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  height: 32px;
  padding: 0 16px 2px 16px;
  background: var(--color-bg);
  border-top: 1px solid var(--color-border);
  font-size: 0.8rem;
  z-index: 9000;
}

.shortcut-bar kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 1.5em;
  height: 1.5em;
  padding: 0 5px 3px 5px;
  border: solid 1px var(--color-border);
  border-radius: 3px;
  box-sizing: border-box;
}
