body {
  overflow-x: scroll;
  scrollbar-width: none;
}

main {
  display: flex;
  flex-direction: column;

  width: 800px;
  height: 100%;

  margin-inline: auto;
  padding: 40px;
}

.control {
  display: flex;
  justify-content: space-between;

  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px var(--color-border);
}

.control__back {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background: none;
  border: solid 1px var(--color-border);
  border-radius: 5px;

  cursor: pointer;
}

.control__back svg {
  stroke: var(--color-text-muted);
  transform: translateX(-0.5px);
  transition: all 0.1s;
}

.control__back:hover svg {
  stroke: var(--color-text);
}

.control__new {
  display: flex;
  gap: 6px;
  align-items: center;

  padding-block: 3px 5px;
  padding-inline: 14px;

  background: var(--color-success);
  border: none;
  border-radius: 5px;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
}

.control__new svg {
  transform: translateY(1px);
}

.categories {
  display: flex;
  gap: 16px;
  flex-direction: column;

  overflow-y: scroll;
  scrollbar-width: none;
}

.categories__item {
  display: flex;
  gap: 15px;
  justify-content: space-between;

  padding-block: 16px 17px;
  padding-inline: 20px;

  background: var(--color-surface);
  border-radius: 8px;
}

.category__name {
  flex: 1;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.category__name::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 15px;
  background: linear-gradient(to right, transparent 0%, var(--color-surface) 100%);
}

.category__menu {
  opacity: 0;

  display: flex;
  gap: 8px;
  align-items: center;

  transition: all 0.1s;
}

.categories__item:hover .category__menu,
.categories__item:focus-within .category__menu {
  opacity: 1;
}

.category__menu button {
  display: flex;
  align-items: center;

  background: none;
  border: none;

  cursor: pointer;
}

.category__menu svg {
  stroke: var(--color-text-muted);
  transition: all 0.1s;
}

.category__menu button:hover svg {
  stroke: var(--color-text);
}
