body {
  display: flex;
  align-items: center;

  overflow-x: scroll;
  scrollbar-width: none;
}

.wrapper {
  flex-shrink: 0;

  display: flex;
  gap: 20px;
  flex-direction: column;

  width: clamp(900px, 100%, 1100px);
  height: 100%;
  margin-inline: auto;
  padding-block: 30px;
  padding-inline: 30px;
}

header {
  display: flex;
  justify-content: right;
}

/*------------------------------ category ------------------------------*/

.category {
  width: 350px;
  height: 40px;
}

/*------------------------------ home ------------------------------*/

.home {
  flex: 1;

  display: grid;
  gap: 20px;

  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto auto 1fr;

  min-height: 0;
}

.home__section {
  padding: 16px;
  background: var(--color-surface);
  border-radius: 8px;
}

.home__start {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.home__today {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.home__statistics {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}
.home__total {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.home__records {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

/* start */

.home__start {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start__button {
  padding-block: 8px;
  padding-inline: 16px;

  background: var(--color-success);
  border: none;
  border-radius: 8px;

  font-size: 1.5rem;

  cursor: pointer;
}

/* today */

.home__today {
  display: grid;
  gap: 12px;
  grid-template-columns: 3fr min-content 2fr;
}

.today__separator {
  border-left: solid 1px var(--color-border);
}

.today__box {
  padding-block: 2px;
}

.today__box-label {
  font-size: 0.8rem;
  font-weight: bold;
}

.today__box-content {
  font-size: 2rem;
  text-align: center;
}

.today__box-content .unit {
  font-size: 1.5rem;
}

/* statistics */

.home__statistics {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.home__statistics-label {
  margin-bottom: -8px;

  font-weight: bold;
  font-size: 0.8rem;
}

.statistics__subjects {
  --color-subject-1: #2fbf9f;
  --color-subject-2: #5c8fe8;
  --color-subject-3: #e0a13b;
  --color-subject-4: #d05c82;
  --color-subject-5: #606060;

  display: grid;
  gap: 16px;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);

  padding: 16px;

  border: solid 1px var(--color-border);
  border-radius: 8px;
}

.statistics__subjects-separator {
  border-right: solid 1px var(--color-border);
}

.statistics__subjects-graph {
  display: flex;
  gap: 24px;
  align-items: center;

  min-width: 0;
}

.statistics__subjects-circle {
  flex-shrink: 0;

  width: 110px;
  height: 110px;

  background: conic-gradient(
    var(--color-subject-1) 0% var(--subject-1),
    var(--color-subject-2) var(--subject-1) var(--subject-2),
    var(--color-subject-3) var(--subject-2) var(--subject-3),
    var(--color-subject-4) var(--subject-3) var(--subject-4),
    var(--color-subject-5) var(--subject-4) var(--subject-5)
  );
  border-radius: 50%;
}

.statistics__subjects-circle.no-subject {
  background: var(--color-subject-5);
}

.statistics__subjects-legend {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 0;

  font-size: 0.9rem;
}

.statistics__subjects-legend div {
  position: relative;

  min-width: 0;
  padding-left: 14px;

  white-space: nowrap;
  overflow: hidden;
}

.statistics__subjects-legend div::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 16px;

  background: linear-gradient(to right, transparent 0%, var(--color-surface) 100%);
}

.statistics__subjects-legend div::before {
  content: "";
  position: absolute;
  top: calc(50% + 1px);
  left: 0;
  transform: translateY(-50%);

  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
}

.statistics__subjects-legend div:nth-of-type(1)::before {
  background: var(--color-subject-1);
}
.statistics__subjects-legend div:nth-of-type(2)::before {
  background: var(--color-subject-2);
}
.statistics__subjects-legend div:nth-of-type(3)::before {
  background: var(--color-subject-3);
}
.statistics__subjects-legend div:nth-of-type(4)::before {
  background: var(--color-subject-4);
}
.statistics__subjects-legend div:nth-of-type(5)::before {
  background: var(--color-subject-5);
}

.statistics__subjects-list {
  flex: 1;

  display: flex;
  flex-direction: column;

  position: relative;

  max-height: 110px;

  overflow-y: scroll;
  scrollbar-width: none;
}

.statistics__subjects-list-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color-text-muted);
  font-size: 0.9rem;
}

.statistics__subjects-list-item {
  display: flex;
  gap: 16px;
  font-size: 0.9rem;
}

.statistics__subjects-list-item div {
  white-space: nowrap;
  overflow: hidden;
}

.statistics__subjects-list-item div:first-child {
  position: relative;
  width: 45%;
}

.statistics__subjects-list-item div:first-child::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 16px;

  background: linear-gradient(to right, transparent 0%, var(--color-surface) 100%);
}

.statistics__weekly {
  flex: 1;

  display: flex;
  gap: 2px;
  flex-direction: column;

  padding: 16px;

  border: solid 1px var(--color-border);
  border-radius: 8px;
}

.statistics__weekly-bars {
  flex: 1;

  display: flex;
  align-items: end;
  justify-content: space-around;

  padding-top: 28px;

  border-bottom: solid 1px var(--color-border);
}

.statistics__weekly-bar {
  position: relative;

  width: 10%;
  height: var(--height);
  min-height: 2px;

  background: var(--color-primary);
}

.statistics__weekly-value {
  position: absolute;
  bottom: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);

  font-size: 0.85rem;
}

.statistics__weekly-labels {
  display: flex;
  justify-content: space-around;
}

.statistics__weekly-label {
  font-size: 0.9rem;
}

/* total */

.home__total {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.total__cards {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.total__card {
  padding-block: 8px;
  padding-inline: 12px;

  border: solid 1px var(--color-border);
  border-radius: 5px;
  border: solid 1px var(--color-border);
  border-radius: 5px;
}

.total__card-label {
  font-size: 0.8rem;
  font-weight: bold;
}

.total__card-value {
  margin-top: 1px;
  padding-left: 6px;
}

.total__subjects {
  flex: 1;

  padding-block: 8px;
  padding-inline: 12px;

  border: solid 1px var(--color-border);
  border-radius: 5px;

  overflow-y: scroll;
  scrollbar-width: none;
}

.total__no-record-message {
  padding-left: 6px;
  color: var(--color-text-muted);
}

.total__subjects-label {
  margin-bottom: 2px;

  font-size: 0.8rem;
  font-weight: bold;
}

.total__subject {
  display: flex;
  gap: 10px;

  padding-left: 6px;
}

.total__subject-name {
  flex: 2;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.total__subject-name::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 16px;
  background: linear-gradient(to right, transparent 0%, var(--color-surface) 100%);
}

.total__subject-time {
  flex: 3;
}

/* recent */

.home__records {
  display: flex;
  gap: 8px;
  flex-direction: column;
  min-height: 0;
}

.records__label {
  font-size: 0.8rem;
  font-weight: bold;
}

.records__list {
  flex: 1;

  display: flex;
  gap: 4px;
  flex-direction: column;

  position: relative;

  padding-block: 10px;
  padding-inline: 16px;

  border: solid 1px var(--color-border);
  border-radius: 8px;

  overflow-y: scroll;
  scrollbar-width: none;
}

.records__item {
  display: grid;
  gap: 24px;
  grid-template-columns: 4fr 3fr 3fr;
}

.records__item span {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.records__item span::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 16px;

  background: linear-gradient(to right, transparent 0%, var(--color-surface) 100%);
}

.records__no-record-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color-text-muted);
  font-size: 0.9rem;
}

/*------------------------------ study ------------------------------*/

.study {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: var(--color-bg);
}

.study__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding-inline: 16px;
  padding-bottom: 1px;

  border-bottom: solid 1px var(--color-border);

  z-index: 10;
}

.study__header-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 35px;
  padding-inline: 8px;
  padding-bottom: 2px;

  background: none;
  border: none;
  border-radius: 4px;

  color: var(--color-text-muted);
  font-size: 1.1rem;

  cursor: pointer;
  transition: all 0.1s;
}

.study__exit:hover {
  color: var(--color-text);
  background: var(--color-danger);
}

.study__exit span {
  margin-right: 4px;
  font-size: 1.4rem;
}

.study__record {
  padding-inline: 12px;
  color: var(--color-text);
  background: var(--color-success);
}

.study__content {
  flex: 1;

  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: translateY(-80px);
}

.study__timer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.study__timer-content {
  display: flex;
  align-items: center;
  font-size: 10rem;
}

.study__timer-content .time {
  min-width: 163px;
  text-align: center;
}

.study__timer-content .colon {
  position: relative;
  top: -0.08em;
  margin-inline: 0.1em;
  font-size: 0.8em;
}

.study__timer-indicator {
  position: relative;
  width: 50%;
  height: 2px;
  overflow: hidden;
}

.study__timer-indicator::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  border-top: solid 2px var(--color-primary);
  animation: timer-indicator-animation 2s forwards ease-out infinite;
}

.study__timer.is-paused .study__timer-indicator::after {
  border-color: var(--color-border);
  animation: none;
}

@keyframes timer-indicator-animation {
  0%,
  10% {
    transform: translateX(-101%);
  }
  90%,
  100% {
    transform: translateX(101%);
  }
}

.study__start-stop {
  padding-block: 8px;
  padding-inline: 23px 24px;

  background: var(--color-danger);
  border: none;
  border-radius: 5px;

  font-size: 1.2rem;

  cursor: pointer;
  transition: all 0.1s;
}

.study__start-stop.is-paused {
  background: var(--color-success);
}

.study__start-stop-content {
  display: flex;
  gap: 5px;
  align-items: center;
}

.study__start-stop-content span {
  transform: translateY(-1px);
}

/*------------------------------ popup ------------------------------*/

.popup {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgb(from var(--color-bg) r g b / 70%);
}

.popup__body {
  display: flex;
  flex-direction: column;

  width: 400px;

  background: var(--color-surface);
  border: solid 1px var(--color-border);
  border-radius: 8px;
}

.popup__header {
  display: flex;
  justify-content: space-between;

  padding-block: 10px;
  padding-inline: 16px;

  border-bottom: solid 1px var(--color-border);
}

.popup__title {
  font-size: 0.9rem;
  font-weight: bold;
}

.popup__exit {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text-muted);
  transition: all 0.1s;
}

.popup__exit:hover {
  color: var(--color-text);
}

.popup__contents {
  padding: 16px;
}

.popup__content {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.popup__input {
  width: 100%;
  height: 35px;

  padding-block: 4px;
  padding-inline: 8px;

  background: var(--color-bg);
  border: solid 1px var(--color-border);
  border-radius: 5px;
  outline: none;
}

.popup__dropdown {
  width: 100%;
  height: 35px;
}

.popup__dropdown .dropdown__current {
  background: var(--color-bg);
}

.popup__controls {
  display: flex;
  gap: 10px;
  justify-content: right;

  padding-block: 0 16px;
  padding-inline: 16px;
}

.popup__controls button {
  padding-block: 3px;
  padding-inline: 10px;

  border-radius: 5px;
  cursor: pointer;
}

.popup__cancel {
  background: none;
  border: solid 1px var(--color-border);
}

.popup__action {
  background: none;
  border: none;
}

.popup__action[data-type="success"] {
  background: var(--color-success);
}

.popup__action[data-type="danger"] {
  background: var(--color-danger);
}

.popup__action:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.popup__new-subject {
  border-top: solid 2px var(--color-border) !important;
}

.popup__new-subject svg {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
}
